.apresentacao {
    top: 86px;
    width: 100%;
    padding-bottom: 1px;
    position: absolute;
    background-color: #ffffff;
}

.apresentacao ul {
    width: 76%;
    margin: auto;
}

.cachorro-fundo {
    background: url(https://1.bp.blogspot.com/-YNZkjao6eaQ/YELXhJ0UmFI/AAAAAAAAGx8/g4DZtWzTEJgnWH3thrtWMCV7JCR80PE_gCLcBGAsYHQ/s0/cachorro-fundo-site.png) no-repeat;
    padding: 699px 587px 1px 0px;
    float: right;
}

.outdoor {
    position: absolute;
    top: 153px;
}

.outdoor ul {
    color: #184985;
    top: 171px;
    width: 580px;
    font-size: 21px;
    position: absolute;
}

.outdoor s {
    font-size: 54px;
    position: absolute;
    font-weight: bold;
    width: 578px;
    color: #41b7c6;
    text-decoration: none;
}

.calendario {
    position: absolute;
    top: 381px;
    width: 503px;
    background: #ffffff;
    box-shadow: 1px 0px 12px rgb(0 0 0 / 23%);
    padding: 18px;
}

.calendario span {
    margin-top: 16px;
    font-size: 20px;
    color: #184985;
    position: absolute;
    margin-left: 11px;
}

.consulta-calendario {
    margin: 2px;
    color: #FFD;
    background: #f05005;
    padding: 17px 18px;
    border: #f05005;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    transition: 0.5s;
}

.consulta-calendario:hover {
    transform: translate(0px, -3px);
}

.consulta-calendario a {
    position: relative;
    z-index: 5;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

.consulta-calendario:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #af6745;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.4s ease;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}

.consulta-calendario:hover:before {
    -webkit-transform: scaleX(200);
    -ms-transform: scaleX(200);
    transform: scaleX(200);
    opacity: 1;
}