        .creditos {
            position: absolute;
            font-size: 14px;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            background-color: #f3f3f3;
            color: #184985;
            text-align: center;
            z-index: 100;
            font-weight: 500;
        }
        
        .creditos a {
            text-decoration: none;
            color: inherit;
            border-bottom: 1px solid;
        }
        
        .creditos a:hover {
            border-bottom: 1px transparent;
        }
        
        footer {
            position: absolute;
            font-size: 14px;
            bottom: 0;
            width: 100%;
            background-color: #f9f9f9;
            color: #184985;
            z-index: 100;
            font-weight: 500;
        }
        
        footer ul {
            margin: auto;
            width: 79%;
            height: 375px;
            font-size: 14px;
            text-align: left;
            padding-top: 32px;
        }
        
        .logo-footer {
            background: url(https://1.bp.blogspot.com/-IExQKLNbsSc/YEPhnkQBzsI/AAAAAAAAGyM/oNZwYXqEw4IHJEaU0YTkEn4M0g_MKVdfQCLcBGAsYHQ/s0/logo%2Bsite.png);
            padding: 123px 99px 32px 131px;
            position: absolute;
            left: 135px;
        }
        /* NAVEGAÇÃO */
        
        .nav-footer1 {
            padding: 20px;
            float: left;
            width: 135px;
            margin-left: 232px;
            margin-top: 0px;
        }
        
        .nav-footer1 li {
            list-style: none;
            float: left;
            font-size: 16px;
            margin-bottom: 13px;
            text-align: left;
            cursor: pointer;
            transition: 0.4s;
        }
        
        .nav-footer1 li:hover {
            color: #f05005;
        }
        
        .nav-footer1 h1 {
            padding-bottom: 20px;
            list-style: none;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
        /*  */
        /* LEGAL  */
        
        .nav-footer2 {
            padding: 20px;
            float: left;
            width: 199px;
            margin-left: 25px;
            margin-top: 0px;
        }
        
        .nav-footer2 li {
            list-style: none;
            float: left;
            font-size: 16px;
            margin-bottom: 13px;
            text-align: left;
            transition: 0.4s;
            cursor: pointer;
        }
        
        .nav-footer2 li:hover {
            color: #f05005;
        }
        
        .nav-footer2 h1 {
            padding-bottom: 20px;
            list-style: none;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
        /*  */
        /* CONECTAR  */
        
        .nav-footer3 {
            padding: 20px;
            float: left;
            width: 171px;
            margin-left: -47px;
            margin-top: 0px;
        }
        
        .nav-footer3 li {
            list-style: none;
            float: left;
            font-size: 16px;
            margin-bottom: 13px;
            text-align: left;
            transition: 0.4s;
            cursor: pointer;
        }
        
        .nav-footer3 li:hover {
            color: #f05005;
        }
        
        .nav-footer3 h1 {
            padding-bottom: 20px;
            list-style: none;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
        /* LOCALIZACAO  */
        
        .nav-footer4 {
            padding: 20px;
            float: left;
            width: 340px;
            margin-left: -2px;
            margin-top: 0px;
        }
        
        .nav-footer4 li {
            list-style: none;
            float: left;
            font-size: 16px;
            margin-bottom: 13px;
            text-align: left;
            transition: 0.4s;
            cursor: pointer;
        }
        
        .nav-footer4 li:hover {
            color: #f05005;
        }
        
        .nav-footer4 h1 {
            padding-bottom: 20px;
            list-style: none;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }