    .localidades {
        top: 784px;
        width: 100%;
        position: absolute;
    }
    
    .localidades ul {
        font-size: 27px;
        color: #184985;
        width: 84%;
        padding: 11px;
        margin: auto;
        padding-bottom: 1px;
    }
    
    .localidades span {
        left: 103px;
        text-align: right;
        margin: auto;
        position: absolute;
        top: 33px;
        z-index: 90;
        padding: 13px;
        background: #fff;
        box-shadow: 23px 8px 15px -1px rgb(0 0 0 / 11%);
        width: 24%;
    }
    
    .localidades s {
        right: 152px;
        position: absolute;
        top: 157px;
        width: 245px;
        background: #fff;
        box-shadow: -23px 0px 15px rgb(0 0 0 / 12%);
        z-index: 99;
        text-decoration: none;
        padding: 30px;
    }
    
    .localidades b {
        right: 262px;
        position: absolute;
        top: 403px;
        width: 245px;
        background: #fff;
        box-shadow: 4px 0px 9px rgb(0 0 0 / 24%);
        z-index: 100;
        text-decoration: none;
        padding: 30px;
    }
    
    .avaliar-atendimento {
        margin: 17px;
        color: #fff;
        background: #f05005;
        padding: 12px 30px;
        border: #f05005;
        display: inline-block;
        position: relative;
        -webkit-transition: all 0.5s ease;
        transition: all 0.4s ease;
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 19px;
        transition: 0.5s;
    }
    
    .avaliar-atendimento a {
        position: relative;
        z-index: 5;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        transition: 0.5s;
    }
    
    .avaliar-atendimento:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #af6745;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: transform 0.4s ease;
        z-index: 0;
        opacity: 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .avaliar-atendimento:hover:before {
        -webkit-transform: scaleX(200);
        -ms-transform: scaleX(200);
        transform: scaleX(200);
        opacity: 1;
    }
    
    .google-maps {
        z-index: 0;
        background: url(https://1.bp.blogspot.com/-rGAJjTrIvgw/YELqIrqWvbI/AAAAAAAAGyE/KTBGvYZyF3gi_qRwUfc4l3xjVNeO_Cg0gCLcBGAsYHQ/s0/localizacao-maps.png) no-repeat;
        padding: 537px 1096px 99px 99px;
        position: absolute;
        top: 15px;
    }