.logo {
    position: absolute;
    background: url(https://1.bp.blogspot.com/-RUrT5i7cQTI/YEK9t6aPZQI/AAAAAAAAGxk/31sMSs8ffAElofWDNsdAY7XTZvsMBflQQCLcBGAsYHQ/s0/logo%2Bsite-menu.png) no-repeat;
    padding: 66px 136px 10px 10px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: -7px;
}

.callmenu {
    width: 77%;
    margin: auto;
    padding-top: 13px;
    height: 44px;
    border-bottom: 1px solid #efefef;
    position: fixed;
    top: 0;
    left: 167px;
    transition: top 0.3s;
    background: #fff;
}

.callmenu ul {
    text-align: center;
    color: #184985;
    font-size: 14px;
    font-weight: 500;
}

.callmenu s {
    text-decoration: none;
}

.callmenu p {
    position: absolute;
    right: 0;
}

.callmenu a {
    text-decoration: none;
    color: #184985;
    transition: 0.3s;
    margin: 2px 1px 4px 9px;
    font-weight: 500;
    cursor: pointer;
}

.callmenu a:hover {
    text-decoration: none;
    color: #f05005
}


/*  */

.menu {
    position: fixed;
    top: 0;
    right: 0;
    /* box-shadow: 0px 0px 6px rgb(0 0 0 / 11%); */
    height: 125px;
    width: 100%;
    z-index: 101;
    transition: 0.4s;
}

.position {
    width: 77%;
    margin: auto;
}

nav {
    position: relative;
    right: 0;
}

nav .menuItems {
    position: absolute;
    right: -14px;
    list-style: none;
    display: flex;
    top: 38px;
}

nav .menuItems li {
    padding: 19px;
    text-decoration: none;
    color: #184985;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px 4px 11px 0px;
}

nav .menuItems li::before {
    content: attr(data-item);
    transition: 0.2s;
    color: #f05005;
    position: absolute;
    top: 19px;
    bottom: 0;
    left: 19px;
    right: 0;
    width: 0;
    overflow: hidden;
    border-bottom: 2px solid #f05005;
    cursor: pointer;
    font-size: 14px;
}

nav .menuItems li:hover::before {
    width: 67%;
    transition: all 0.5s ease-in-out;
}


/*  */

.consulta span {
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.consulta {
    margin: 15px;
    color: #fff;
    background: #f05005;
    padding: 16px 20px;
    border: #f05005;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.consulta:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #af6745;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.4s ease;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}

.consulta:hover:before {
    -webkit-transform: scaleX(200);
    -ms-transform: scaleX(200);
    transform: scaleX(200);
    opacity: 1;
}