.apresentacao {
    top: 186px;
    width: 100%;
    padding-bottom: 1px;
    position: absolute;
    display: grid;
}

.apresentacao ul {
    width: 100%;
    display: grid;
}

.dog-fundo {
    background: url(https://1.bp.blogspot.com/-tmPr8fZ-KIs/YEqL0ecgKRI/AAAAAAAAGz0/BYGpTSAO2wE9BlCGjIRMKouJUiq-qnHSQCLcBGAsYHQ/s0/cachorro-fundo.png) no-repeat;
    background-color: #eff7ff;
    z-index: 96;
    right: 0;
    margin-top: -118px;
    min-height: 936px;
    background-position: 95% 50%;
    background-size: cover;
    border-top: 1px solid #dbe5ee;
}

.fundo-out {
    left: 2px;
    border-top: 1px #dbe5ee solid;
    background: #f2f3f4a3;
    z-index: 97;
    width: 610px;
    height: 835px;
    top: -17px;
    padding-left: 86px;
    position: absolute;
}

.outdoor {
    position: absolute;
    top: 80px;
}

.outdoor ul {
    color: #107784;
    top: 180px;
    width: 100%;
    font-size: 21px;
}

.outdoor h1 {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    color: #f05005;
    text-decoration: none;
}

.outdoor h2 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    color: #184985;
    margin-top: 2px;
    text-decoration: none;
}

.calendario {
    position: absolute;
    top: 381px;
    width: 92%;
    background: #fff;
    box-shadow: 1px 0px 9px rgb(0 0 0 / 11%);
    padding: 17px;
    left: -5px;
    border-radius: 15px;
}

.calendario span {
    margin-top: 16px;
    font-size: 18px;
    color: #184985;
    position: absolute;
}

.consulta-calendario {
    margin: 2px;
    color: rgb(255, 255, 255);
    background: #f05005;
    padding: 17px 18px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    transition: 0.3s;
}

.consulta-calendario a {
    position: relative;
    z-index: 5;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    transition: 0.5s;
    text-transform: uppercase;
}

.consulta-calendario:hover {
    background: #bd4710;
    transform: translate(0px, -3px);
}

@keyframes slide {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(3px);
    }
}