.info {
    top: 784px;
    width: 100%;
    position: absolute;
}

.info ul {
    font-size: 18px;
    color: #000;
    width: 84%;
    padding: 11px;
    margin: auto;
    padding-bottom: 1px;
}


/* PRIMEIRO LABEL */

.info span {
    position: absolute;
    top: 17px;
    width: 285px;
    z-index: 99;
    text-decoration: none;
    padding: 30px;
    left: 468px;
}


/* ICONE */

.info span::before {
    position: absolute;
    background-color: #0563f0;
    color: #fff;
    content: "\f879";
    font-family: FontAwesome;
    padding: 11px;
    border-radius: 50%;
    font-size: 22px;
    top: 37px;
    left: -33px;
}


/*  */

.info h1 {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 20px;
    margin-right: 20px;
}


/* SEGUNDO LABEL */

.info s {
    position: absolute;
    top: 17px;
    width: 325px;
    z-index: 99;
    text-decoration: none;
    padding: 30px;
}


/* ICONE */

.info s::before {
    position: absolute;
    background-color: #0563f0;
    color: #fff;
    content: "\f017";
    font-family: FontAwesome;
    padding: 11px;
    border-radius: 50%;
    font-size: 22px;
    top: 37px;
    left: -33px;
}


/*  */


/*  */


/* TERCEIRO LABEL */

.info u {
    left: 769px;
    position: absolute;
    top: 17px;
    width: 284px;
    z-index: 99;
    text-decoration: none;
    padding: 30px;
    text-decoration: none;
}

.info u::before {
    position: absolute;
    background-color: #0563f0;
    color: #fff;
    content: "\f0f1";
    font-family: FontAwesome;
    padding: 11px;
    border-radius: 50%;
    font-size: 22px;
    top: 37px;
    left: -33px;
}


/*  */


/* AVALIAR */

.info g {
    border-radius: 15px;
    right: 217px;
    position: absolute;
    top: 12px;
    width: 246px;
    z-index: 100;
    text-decoration: none;
    padding: 30px;
    text-align: center;
}


/*  */

.avaliar-atendimento {
    margin: 11px;
    color: #fff;
    background: #0563f0;
    padding: 8px 21px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.5s;
}

.avaliar-atendimento a {
    position: relative;
    z-index: 5;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

.avaliar-atendimento:hover {
    background: #245caf;
    transform: translate(0px, -3px);
}

.informacoes {
    left: -15px;
    width: 85%;
    z-index: 97;
    background: #fff;
    border-radius: 12px;
    padding: 132px;
    position: absolute;
    top: 12px;
    box-shadow: 8px -5px 8px -6px rgb(0 0 0 / 10%);
}