.apresentacao3 {
    top: 1607px;
    width: 100%;
    padding-bottom: 1px;
    position: absolute;
    display: grid;
}

.apresentacao3 ul {
    width: 100%;
    display: grid;
}

.doctor-fundo3 {
    background: url(https://1.bp.blogspot.com/-zoDA9K_UfmY/YEVUYKo_yTI/AAAAAAAAGzU/toqBDPUZUH81DLk5pGtTl5psYQxKetMvwCLcBGAsYHQ/s0/enfermary.png) no-repeat;
    z-index: 95;
    right: 0;
    min-height: 627px;
    background-position: 51% -4%;
    background-size: cover;
    display: grid;
}

.fundo-out3 {
    left: 0;
    background: #f1f6fb;
    z-index: 97;
    width: 637px;
    height: 590px;
    top: 43px;
    padding-left: 86px;
    position: absolute;
}

.outdoor3 {
    position: absolute;
    top: 80px;
}

.outdoor3 ul {
    color: #020202;
    top: 180px;
    width: 75%;
    font-size: 21px;
}

.outdoor3 h1 {
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    width: 200px;
    color: #000000;
    text-decoration: none;
}

.outdoor3 h2 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    color: #000000;
    margin-top: 25px;
    text-decoration: none;
}