.apresentacao2 {
    top: 1000px;
    width: 100%;
    padding-bottom: 1px;
    position: absolute;
    display: grid;
}

.apresentacao2 ul {
    width: 100%;
    display: grid;
}

.doctor-fundo2 {
    background: url(https://1.bp.blogspot.com/-t9YxwzmH1Vo/YEVJMjnnCII/AAAAAAAAGzM/vQO7bLV5XaUDvNUYlrUkWH43g1fSjGWGQCLcBGAsYHQ/s0/sobre-nos.png) no-repeat;
    z-index: 96;
    right: 0;
    margin-top: -16px;
    min-height: 666px;
    background-position: 50% -29%;
    background-size: cover;
    width: 811px;
    display: grid;
}

.fundo-out2 {
    right: 0;
    background: #f1f6fb;
    z-index: 97;
    width: 700px;
    height: 590px;
    top: 60px;
    padding-left: 86px;
    position: absolute;
    grid-area: auto;
    grid-auto-columns: max-content;
    grid-row: auto;
}

.outdoor2 {
    position: absolute;
    top: 80px;
}

.outdoor2 ul {
    color: #020202;
    top: 180px;
    width: 75%;
    font-size: 21px;
}

.outdoor2 h1 {
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    width: 200px;
    color: #000000;
    text-decoration: none;
}

.outdoor2 h2 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    color: #000000;
    margin-top: 25px;
    text-decoration: none;
}