.apresentacao2 {
    top: 1000px;
    width: 100%;
    padding-bottom: 1px;
    position: absolute;
    display: grid;
}

.apresentacao2 ul {
    width: 100%;
}

.doctor-fundo2 {
    background: url(https://1.bp.blogspot.com/-t9YxwzmH1Vo/YEVJMjnnCII/AAAAAAAAGzM/vQO7bLV5XaUDvNUYlrUkWH43g1fSjGWGQCLcBGAsYHQ/s0/sobre-nos.png) no-repeat;
    z-index: 95;
    right: 0;
    min-height: 672px;
    background-position: 39% 3%;
    background-size: cover;
    display: grid;
}

.fundo-out2 {
    left: 0;
    background: #f1f6fb;
    z-index: 97;
    width: 637px;
    height: 590px;
    top: 60px;
    padding-left: 86px;
    position: absolute;
    grid-area: auto;
    grid-auto-columns: max-content;
    grid-row: auto;
}

.outdoor2 {
    position: absolute;
    top: 80px;
}

.outdoor2 ul {
    color: #207f8b;
    top: 180px;
    width: 75%;
    font-size: 21px;
}

.outdoor2 h1 {
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    width: 200px;
    color: #184985;
    text-decoration: none;
}

.outdoor2 h2 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    color: #184985;
    margin-top: 25px;
    text-decoration: none;
}