.logo {
    position: absolute;
    background: url(https://1.bp.blogspot.com/-VfINAnBSSKI/YEqLd0gEFhI/AAAAAAAAGzo/dmPccBNMu7MaEBIc3p8nbIUS85lWLbmIgCLcBGAsYHQ/s0/logo%2Bsite-menu.png) no-repeat;
    padding: 55px 186px 10px 10px;
    cursor: pointer;
    margin-top: 84px;
    margin-left: -48px;
}

.callmenu {
    width: 100%;
    margin: auto;
    height: 69px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

.callmenu i {
    color: #184985;
}

.callmenu ul {
    padding-top: 27px;
    margin-bottom: 9px;
    margin: auto;
    text-align: center;
    color: #65696b;
    font-size: 16px;
    font-weight: 600;
    width: 86%;
    border-bottom: 1px solid #dbe5ee;
    height: 70px;
}

.callmenu s {
    text-decoration: none;
}

.callmenu p {
    position: absolute;
    right: 0;
}

.callmenu a {
    text-decoration: none;
    color: #65696b;
    transition: 0.3s;
    margin: 2px 18px 7px 11px;
    font-weight: 600;
    cursor: pointer;
}

.callmenu a:hover {
    text-decoration: none;
    color: #f05005;
}


/*  */

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 169px;
    width: 100%;
    z-index: 101;
    transition: 0.4s;
    background-color: #ffffffd3;
}

.position {
    width: 77%;
    margin: auto;
}

nav {
    position: relative;
    right: 0;
}

nav .menuItems {
    position: absolute;
    right: -40px;
    list-style: none;
    display: flex;
    top: 70px;
}

nav .menuItems li {
    font-weight: 500;
    padding: 21px;
    text-decoration: none;
    color: #184985;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    margin: 14px 4px 10px -10px;
    font-weight: 600;
}

nav .menuItems li::before {
    content: attr(data-item);
    transition: 0.2s;
    color: #f05005;
    position: absolute;
    top: 21px;
    bottom: 0;
    left: 21px;
    right: 0;
    width: 0;
    overflow: hidden;
    border-bottom: 2px solid #f05005;
    cursor: pointer;
}

nav .menuItems li:hover::before {
    width: 67%;
    transition: all 0.5s ease-in-out;
}

.consulta span {
    position: relative;
    z-index: 5;
    cursor: pointer;
    top: 0px;
}

.consulta {
    font-weight: bold;
    margin: 17px 10px 25px 9px;
    color: #f05005;
    border: 2px solid #f05005;
    padding: 15px 28px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
    text-transform: uppercase;
}

.consulta:hover {
    color: #fff;
    transform: translate(0px, -3px);
}

.consulta:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #f05005;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.4s ease;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
}

.consulta:hover:before {
    -webkit-transform: scaleX(200);
    -ms-transform: scaleX(200);
    transform: scaleX(200);
    opacity: 1;
    color: #fff;
}